<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoutineApp</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/foundation/css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/foundation/css/foundation.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">

    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script>
    var helpers = {
        months: {
            0: 'Jan',
            1: 'Feb',
            2: 'Mar',
            3: 'Apr',
            4: 'May',
            5: 'Jun',
            6: 'Jul',
            7: 'Aug',
            8: 'Sep',
            9: 'Oct',
            10: 'Nov',
            11: 'Dec'
        },
        days: {
            1: 'Monday',
            2: 'Tuesday',
            3: 'Wednesday',
            4: 'Thursday',
            5: 'Friday',
            6: 'Saturday',
            7: 'Sunday'
        }
    };
    $(function() {
        $(document).on('click', '.nav', function(e) {
            e.preventDefault();

            var thisEl = $(this);

            if (thisEl.attr('id') === 'nav-home') {
                console.log('Home');
            } else if (thisEl.attr('id') === 'nav-tracker') {
                $.ajax({
                    url: '/tracker',
                    method: 'GET',
                    success: function(res) {
                        console.log(helpers.months[new Date(res.oldest).getMonth()])
                    }
                });
            }
         })

        $(document).on('click', '.btn', function(e) {
            e.preventDefault();

            var thisEl = $(this),
                rid = thisEl.attr('id');

            $.ajax({
                url: '/tasks',
                method: 'POST',
                data: JSON.stringify({'id': rid}),
                contentType: 'application/json; charset=utf-8',
                success: function(res) {
                    if (res.status === 'Success') {
                        thisEl.replaceWith('<button class="success disabled tiny">Finished</button>');
                    }
                }
            });
        });

        $.ajax({
            url: '/tasks',
            method: 'GET',
            success: function(res) {
                var tasks = res['tasks'],
                    str = '',
                    rawDate = Date().split(' '),
                    currentDate = rawDate[0] +' '+ rawDate[1] +' '+ rawDate[2];

                for (var i=0; i<tasks.length; i++) {
                    var name = tasks[i].name,
                        tid = tasks[i]._id,
                        btn = '<button class="btn tiny alert" id="'+ tid +'">Done</button>';

                        if (tasks[i].updated.length > 0) {
                            var recordRawDate = new Date(tasks[i].updated[tasks[i].updated.length-1]).toString().split(' '),
                                recordDate = recordRawDate[0] +' '+ recordRawDate[1] +' '+ recordRawDate[2];

                            if (currentDate === recordDate) {
                              btn = '<button class="success disabled tiny">Finished</button>'
                            }
                        }
                    str += '<tr><td>'+ name +'</td><td>'+ btn +'</td></tr>';
                }

                $('table').append(str);
            }
        });
        
        var day = helpers.days[new Date().getDay()],
            month = helpers.months[new Date().getMonth()],
            _date = new Date().getDate();

        $('.current-date h1').append(day +', '+ month +' '+_date);
    });
  </script>
</head>
<body>

<div class="large-9 medium-8 columns container">
    <ul class="breadcrumbs">
        <li><a href="#" class="nav" id="nav-home">Home</a></li>
        <li><a href="#" class="nav" id="nav-tracker">Tracker</a></li>
    </ul>
    <div class="callout panel text-center current-date" style="font-size:22px;">
        <ul style="text-align: left;">
            <li>Reactive tasks make you living, proactive tasks make you successful.</li>
            <li>70% building features and fixing bugs</li>
            <li>20% on prototyping fledgling ideas or exploratory data analysis</li>
            <li>10% on speculative initiatives like a 10x performance improvement</li>
        </ul>
    </div>
    <div class="callout panel text-center current-date"><h1></h1></div>
    <table border="1" role="grid">
        <thead>
            <tr>
                <th>Task</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
</body>
</html>
